body {
  background-color: var(--v-accent-base);
  overflow: hidden;
}
.hidden {
  display: none;
}
.justify-between {
  justify-content: space-between;
}
.font {
  &--sm {
    font-size: 0.75rem;
  }
  &--xs {
    font-size: 0.5rem;
  }
}
.border {
  &--top {
    border-top: 1px solid;
  }
  &--bottom {
    border-bottom: 1px solid;
  }
  &--accent-lighten-1 {
    border-color: var(--v-accent-lighten1);
  }
  &--transparent {
    border-color: transparent;
  }
  &--radius-lg {
    border-radius: 10px;
  }
}
.panel {
  display: flex;
  flex-direction: column;
  max-height: map-get($main-height, "md-up");
  @include sm-and-down {
    max-height: map-get($main-height, "sm-down");
  }
  &__header {
    justify-content: space-between;
    align-items: center;
    flex-basis: $toolbar-height;
    border-bottom: 1px solid var(--v-accent-lighten1);
    &--wrap {
      padding: 5px 10px;
    }
    &--transparent {
      border-bottom: 1px solid transparent;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: map-get($scroll-height, "md-up");
    @include sm-and-down {
      flex-basis: map-get($scroll-height, "sm-down");
    }
    overflow: auto;
    &--wrap {
      padding: 0 20px;
    }
  }
  &__footer {
    max-height: map-get($max-textarea-height, "md-up");
    @include sm-and-down {
       max-height: map-get($max-textarea-height, "sm-down");
    }
    flex: 1 0 $toolbar-height;
    align-items: flex-end;
    border-top: 1px solid var(--v-accent-lighten1);
    &--wrap {
      padding: 5px 10px;
    }
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0px;
}