body {
  background-color: var(--v-accent-base);
  overflow: hidden;
}
.justify-between {
  justify-content: space-between;
}
.text-transform-none {
  text-transform: none;
}
.font {
  &--sm {
    font-size: 0.75rem;
  }
  &--xs {
    font-size: 0.5rem;
  }
}
.border {
  &--top {
    border-top: .0625rem solid;
  }
  &--bottom {
    border-bottom: .0625rem solid;
  }
  &--accent-lighten-1 {
    border-color: var(--v-accent-lighten1) !important;
  }
  &--transparent {
    border-color: transparent !important;
  }
  &--radius-sm {
    border-radius: .3125rem;
  }
  &--radius-md {
    border-radius: .625rem;
  }
  &--radius-lg {
    border-radius: 1.25rem;
  }
}
.rotate {
  $degs: 90, 180, 270;
  @each $deg in $degs {
    &--#{$deg} {
      transform: rotate($deg + deg);
    }
  }
}
.panel {
  display: flex;
  flex-direction: column;
  max-height: map-get($main-height, "md-up");
  @include sm-and-down {
    max-height: map-get($main-height, "sm-down");
  }
  &__header {
    justify-content: space-between;
    align-items: center;
    flex-basis: $toolbar-height;
    border-bottom: .0625rem solid var(--v-accent-lighten1);
    &--wrap {
      padding: .3125rem .625rem;
    }
    &--transparent {
      border-bottom: .0625rem solid transparent;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: map-get($scroll-height, "md-up");
    @include sm-and-down {
      flex-basis: map-get($scroll-height, "sm-down");
    }
    overflow: auto;
    &--wrap {
      padding: 0 1.25rem;
    }
  }
  &__footer {
    max-height: map-get($max-textarea-height, "md-up");
    @include sm-and-down {
       max-height: map-get($max-textarea-height, "sm-down");
    }
    flex: 1 0 $toolbar-height;
    align-items: flex-end;
    border-top: .0625rem solid var(--v-accent-lighten1);
    &--wrap {
      padding: .3125rem .625rem;
    }
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.v-application p {
  margin: 0;
}
.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0;
}
.tiny-select {
  width: 8.125rem;
  div[role=button] {
    padding: 0 !important;
  }
  .notranslate {
    color: var(--v-info-darken2) !important;
  }
}