// simple layout
$simple-bar-height: (
  "sm-down": 3.5rem,
  "md-up": 14.125rem
);
// chatroom layout
$app-height: (
  "sm-down":100vh,
  "md-up": 80vh
);
$header-height: 1.25rem;
$toolbar-height: 3.125rem;
$main-width: (
  "sm-down": 23.4375rem,
  "md-up": 51.5625rem
);
$main-height: (
  "sm-down": calc(#{map-get($app-height, "sm-down")} - #{$header-height}),
  "md-up": calc(#{map-get($app-height, "md-up")} - #{$header-height})
);
$max-textarea-height: (
  "sm-down":  calc(#{map-get($app-height, "sm-down")} - #{$header-height} - #{$toolbar-height}),
  "md-up": calc(#{map-get($app-height, "md-up")} - #{$header-height} - #{$toolbar-height})
);
$scroll-height: (
  "sm-down": calc(#{map-get($app-height, "sm-down")} - #{$header-height} - #{$toolbar-height} * 2),
  "md-up": calc(#{map-get($app-height, "md-up")} - #{$header-height} - #{$toolbar-height} * 2)
);
// z-index
$z-layers: (
  "chatroom-search-bar": 1
);